  <div class="modal" id="myModal" data-toggle="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal" type="button" aria-hidden="true" data-target="#myModal">×</button>
          <h4 class="modal-title"><%= titulo %></h4>
        </div>
        <div class="modal-body">
          <%= form %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>