<table class="table">
  <thead>
    <tr>
      <th>Obs</th>
      <th>Cliente</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.obs %></td>
        <td><%= pedido.conta_evento.nome %></td>
        <td><%= link_to 'Edit', edit_pedido_path(evento: @evento,id: pedido), remote: true %></td>
        <td><%= link_to 'Destroy', pedido_path(evento: @evento,id: pedido), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>